%header
= render('templates/header')
.ArticleTop
  .ArticleTop__page
    記事一覧
    .ArticleTop__page__items
      .ArticleTop__page__items__newpost
        = link_to "新規投稿", new_article_path
      .ArticleTop__page__items__toppage
        = link_to 'トップページ', root_path
  .ArticleTop__contents
    .Contents
      - @articles.each do |article|
        .murata
          .murata__post
          投稿者
          = link_to article.user.name, user_path(article.user.id), method: :get
          .Content
            .Content__Image
              %img{:src => "#{article.image}", :width => "400"}/
              = link_to article_path(article.id), method: :get
            .Content__Title
              = link_to article.title , article_path(article.id), method: :get
            .Content__Description
              = link_to article.description , article_path(article.id), method: :get

= render "/pages/site_map"