%header
= render('templates/header')
.ArticleTop
  .ArticleTop__page
    記事一覧
    .ArticleTop__page__items
      .ArticleTop__page__items__newpost
        = link_to "新規投稿", new_article_path
      .ArticleTop__page__items__toppage
        = link_to 'トップページ', root_path
  .ArticleTop__contents
    .Content
      - @articles.each do |article|
        .murata
          投稿者
          = link_to article.user.name, user_path(article.user.id), method: :get
          .Content__Image
          %img{:src => "#{article.image}", :width => "100"}/
          .Content__Title
          %li= article.title
          .Contet__Description
          %li= article.description
          .SubItems
            .SubItems__detail
              = link_to '詳細', article_path(article.id), method: :get
            - if user_signed_in? && current_user.id == article.user_id
              .SubItems__edit
                = link_to '編集', edit_article_path(article.id), method: :get
              .SubItems__delete
                = link_to '削除', article_path(article.id), method: :delete, data: {confirm: "本当に削除しますか?"}

