%header
= render('templates/header')
.NewArticle
  .NewArticle__page
    新規投稿
  = render 'form'
  .NewArticle__form
    = form_for @article do |f|
      .FormBox
        .FormBox__label--normal
          = f.label :タイトル
        .FormBox__input--normal
          = f.text_field :title
        .FormBox__label--normal
          = f.label :本文
        .FormBox__input--normal
          = f.text_area :description, rows: 10
        .ImageLogo
          = f.label :image, class: 'ImageLogo__image' do
            = icon('far', 'image', class: 'ImageLogo__icon')
            = f.file_field :image, class: 'file'
      .action
        = f.submit '投稿する'
      .return
        = link_to '戻る', articles_path
