<h1>新規投稿</h1>
<% if @article.errors.any? %>
 <h2>次のエラーにより、記事を保存できませんでした:</h2>
 <ul>
 <% @article.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>
<% end %>

<%= form_for @article do |f| %>
 <p>
  <%= f.label :タイトル %><br>
  <%= f.text_field :title %>
 </p>
 <p>
  <%= f.label :本文 %><br>
  <%= f.text_area :description %>
 </p>
 <p>
  <%= f.submit %>
 </p>
 <p>
 <%= link_to '戻る', articles_path %>
 </p>
<% end %>
