%header
= render('templates/header')
.Wrapper
  .ShowArticle
    .ShowArticle__detail
      .ShowArticle__detail__name
        = link_to @article.user.name, user_path(@article.user.id), method: :get
      .ShowArticle__detail__like
        %div{:id => "like-btn#{@article.id}"}
        = render partial: "likes/like", locals: { article: @article }
      .ShowArticle__detail__title
        #{@article.title}
      .ShowArticle__detail__description
        #{@article.description}
      .ShowArticle__detail__image
        = image_tag(@article.image_url) if @article.image.present?
    .ShowArticle__ShowReturn
    - if user_signed_in? && current_user.id == @article.user_id
      .ShowArticle__ShowReturn__Contents
        .ShowArticle__ShowReturn__Contents__edit
          = link_to '編集', edit_article_path(@article.id), method: :get
        .ShowArticle__ShowReturn__Contents__delete
          = link_to '削除', article_path(@article.id), method: :delete, data: {confirm: "本当に削除しますか?"}
        .ShowArticle__ShowReturn__Contents__return
          = link_to '戻る', articles_path

  - if current_user
    .Comments
      = form_with(model: [@article, @comment], local: true) do |f|
        .Comments__text
        %br
          =f.text_area :description, placeholder: "コメントする", row: "2"
        %br
          =f.submit "投稿する"
  - else
    ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  .Messages
    %h4 コメント一覧
    - if @comments
      - @comments.each do |comment|
        %p
          %strong
            = link_to comment.user.name, "/users/#{comment.user_id}"
            ：
          = comment.description

= render "/pages/site_map"