.header
  .header__left
    = link_to image_tag("ToripLog.png", class: "Trip_Log_Logo"), |
  root_path       
  .header__middle
    = form_with url: search_articles_path, local: true, method: :get, class: "search-form" do |form|
      = form.text_field :keyword, placeholder: "投稿タイトルを検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
  .header__right
    .header__right__username
      = link_to current_user.name, "/users/#{current_user.id}"
      -# = current_user.name
      .upper-field__navigate
        .upper-field__navigate__left-side
          %ul.upper-field__navigate__left-side__item
            %li
              %i.fas.fa-th-large
              %ul
                = link_to 'About Trip-Log', about_path
                %li
                  = link_to 'トップページ', root_path
                %li
                  = link_to '記事一覧', articles_path
                %li
                  = link_to "新規投稿", new_article_path
                %li
                  = link_to "マイページ", "/users/#{current_user.id}"
                %li
                  = link_to 'アカウント編集', edit_user_registration_path
                %li
                  = link_to "ログアウト", destroy_user_session_path, method: :delete



    -# .header__right__new
    -#   = link_to "新規投稿", new_article_path
    -# .header__right__mypage
    -#   = link_to "マイページ", "/users/#{current_user.id}"
    -# .header__right__triplog
    -#   = link_to 'About Trip-Log', about_path