%header
= render('templates/header')
.UserInfo
  .UserInfo__name
    = @name
    さんの投稿一覧
    .UserInfo__contents
      .Contents
        - @articles.each do |article|
          .murata
            .murata__top
              投稿者
              .SubName
                = link_to article.user.name
              .SubItems
                - if user_signed_in? && current_user.id == article.user_id
                  .SubItems__edit
                    = link_to '編集', edit_article_path(article.id), method: :get
                  .SubItems__detail
                    = link_to '詳細', article_path(article.id), method: :get
                  .SubItems__delete
                    = link_to '削除', article_path(article.id), method: :delete, data: {confirm: "本当に削除しますか?"}
            
            .Content
              .Content__Image
                %img{:src => "#{article.image}", :width => "400"}/
                = link_to article_path(article.id), method: :get
              .Content__Title
                = link_to article.title , article_path(article.id), method: :get
              .Content__Description
                = link_to article.description , article_path(article.id), method: :get
                
= render "/pages/site_map"
              
          
