!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TripLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  .header
    .header__left
      = link_to image_tag("ToripLog.png", class: "Trip_Log_Logo"), |
    root_path       
    .header__middle
      = form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f|
        = f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
        = f.submit "検索", class: "search-btn"
    .header__right
      .header__right__username
        = current_user.name
      .header__right__mypage
        = link_to "マイページ", "/users/#{current_user.id}"
      .header__right__logout
        = link_to "ログアウト", destroy_user_session_path, method: :delete   
  .body
    = render 'layouts/notifications'
    = yield
  .footer
    .footer__left
      = link_to image_tag("torilog.png", alt: "Rails logo", class: "torilog_Logo")
      ©️ 2020 Tori Log, Inc. All rights reserved
    .footer__right
      .footer__right__line
        %i.fab.fa-line
      .footer__right__facebook
        %i.fab.fa-facebook-square
      .footer__right__twitter
        %i.fab.fa-twitter-square
            

      




