!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TripLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  .body
    = render 'layouts/notifications'
    = yield
  .footer
    .footer__left
      = link_to image_tag("torilog.png", alt: "Rails logo", class: "torilog_Logo")
      ©️ 2020 Tori Log, Inc. All rights reserved
    .footer__right
      .footer__right__line
        .line-it-button{"data-color" => "default", "data-count" => "false", "data-lang" => "ja", "data-size" => "small", "data-type" => "share-b", "data-url" => "http://localhost:3000/users/sign_in", "data-ver" => "3", :style => "display: none;"}
        %script{:async => "async", :defer => "defer", :src => "https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js"}
      .footer__right__facebook
        =link_to "https://www.facebook.com/share.php?u=http://localhost:3000/users/sign_in/" do
          %i.fab.fa-facebook-square
      .footer__right__twitter
        =link_to "http://twitter.com/share?url=#{request.url}/&text=旅の記録を楽しもう♪" do
          %i.fab.fa-twitter-square
          
            

      




