!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TripLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  .body
    = render 'layouts/notifications'
    = yield
  .footer
    .footer__left
      = link_to image_tag("torilog.png", alt: "Rails logo", class: "torilog_Logo")
      ©️ 2020 Tori Log, Inc. All rights reserved
    .footer__right
      .footer__right__line
        %i.fab.fa-line
      .footer__right__facebook
        %i.fab.fa-facebook-square
      .footer__right__twitter
        %i.fab.fa-twitter-square
            

      




